

H1 {
color:blue;
font-size:30pt;
text-align:center;
font-style:italic;
font-weight:bold;
text-decoration:underline;
}


td.A {
text-align:left;
font-size:12pt;
}

td.B {
text-align:center;
font-size:12pt;
}

p.definition{
font-size:20pt;
font-style:italic;
font-weight:bold;
text-align:center;
color:orange;
border-style:groove;
border-color:orange;
margin-right:220;
margin-left:220;
}

H2 {
color:blue;
font-size:25pt;
text-align:center;
font-weight:bold;
text-decoration:underline;
}

p.texte{
font-size:14pt;
text-align:justify;
}

p#texteimportant{
font-weight=bold;
text-decoration:underline;
}
td.classes{
font-size:12pt;
text-align:justify;
border-style:solid;
border-color:black;
margin-right:5;
margin-left:5;
padding:10;
}

H3{
font-size:14pt;
font-weight:bold;
text-decoration:underline;
}
